<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/master.css">
  <link  href="js/m ain.js">

  <title></title>
</head>
<body>
  <h1>Bienvenue sur la page méteo </h1>
  <div> <p> veuillez entrer le nom de la ville dont vous voulez voir la meteo s'il s'agit de plusieurs villes separer les d'une espaces <p></div>
    <div class="form">
      <form  action="/" method="POST" name ="ofm">
        <input type="text" name= "ville" alue="">
        <input type="submit" class="btn" value="Validate"></button>
      </div>
  </form>
<% if (session === 'il y a une erreur ') { %>
  <script> alert(session)</script>
<% } %>
</body>
</html>
